@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

body {
	height: 100%;
    background-color: #ffffff;
	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../images/bg.jpg");
	background-repeat: repeat,			no-repeat,			no-repeat;
	background-size: 100px 100px, cover,				cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
}

/*
 * Create dark grey header with a white logo
 */
 
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */
 
.container {
  width: 940px;
  margin: 0 auto;
}

div.mainblock {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto auto auto 240px;
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 9px 18px;
	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	border-radius: 27px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 20px;
	text-decoration: none;
	vertical-align: middle;
}
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

button.retry {
	visibility: hidden;
	margin: auto auto auto 420px;
}

/*
 * Display navigation links inline
 */

.menu {
	float: right;
	margin-top: 8px;
}

.menu li {
	display: inline;
}

.menu li + li {
	margin-left: 35px;
}

.menu li a {
	color: #999;
	text-decoration: none;
}