{% extends "layout.html" %}
{% block navbar %}
<nav class="navbar navbar-dark bg-inverse">
	<a class="navbar-brand" href="{{ url_for('home') }}">Logic Master</a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('home') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('tester') }}">Tester</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ url_for('about') }}">About<span class="sr-only"> (current)</span></a>
			</li>
		</ul>
</nav>
{% endblock %}

{% block content %}
<article class="card animated zoomIn">
	<div class="card-block">
		<h1 class="card-title">About</h4>
		<p class="card-text">Web app powered by Flask.<br>Written by Barak Nehmad, 2016.</p>
	</div>
</article>
{% endblock %}
