{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('tester') }}">Tester</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('about') }}">About<span class="sr-only"> (current)</span></a>
</li>
{% if not current_user.is_authenticated %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('login') }}">Login</a>
	</li>
{% else %}
	<li class="nav-item float-xs-right active">
		<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	</li>
{% endif %}
{% endblock %}

{% block content %}
<h1 class="card-title">About</h1>
<p class="card-text">
    Web app powered by Flask.<br>
    Written by Barak Nehmad, 2016.<br><br>
    Follow this project on GitHub!
</p>
<a class="github-button" href="https://github.com/sandspider2234/Logical" data-icon="octicon-star"
   data-style="mega" data-count-href="/sandspider2234/Logical/stargazers"
   data-count-api="/repos/sandspider2234/Logical#stargazers_count"
   data-count-aria-label="# stargazers on GitHub" aria-label="Star sandspider2234/Logical on GitHub">Star</a>
<br>
<p class="card-text">Wanna report a bug or request a feature?</p>
<a class="github-button" href="https://github.com/sandspider2234/Logical/issues" data-icon="octicon-issue-opened"
   data-style="mega" data-count-api="/repos/sandspider2234/Logical#open_issues_count"
   data-count-aria-label="# issues on GitHub" aria-label="Issue sandspider2234/Logical on GitHub">Issue</a>
{% endblock %}
