{% extends "layout.html" %}
{% block navbar %}
{{ create_nav(['Home', 'Tester', 'About'], 'Home') }}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if category == "error" %}
				<h2 style="color: #d9534f">{{ message }}</h2>
			{% elif category == "success" %}
				<h2 style="color: #5cb85c">{{ message }}</h2>
			{% else %}
				<h2>{{ message }}</h2>
			{% endif %}
		{% endfor %}
	<hr>
	{% endif %}
{% endwith %}
<h3>When</h3>
<h2>x = {{ x_value }}, y = {{ y_value }},</h2>
<h3>Decide whether the following statement is true or false: </h3>
<h2>{{ statement }}</h2>
<br>
<form autocomplete="off" action="" method="post">
	{{ form.csrf_token() }}
	<div style="text-align: center">
		<div style="display: inline-block">
			{{ form.choice }}
			{{ form.hidden(value=result) }}
			{{ form.submit(class_="btn btn-primary btn-lg") }}
		</div>
	</div>
</form>
{% endblock %}
