{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item active">
	<a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only"> (current)</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('tester') }}">Tester</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('about') }}">About</a>
</li>
{% if not current_user.is_authenticated %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('login') }}">Login</a>
	</li>
{% else %}
	<li class="nav-item float-xs-right active">
		<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	</li>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
	<h2>Hi {{current_user.name }}!</h2>
{% endif %}
<h3>When</h3>
<h2>x = {{ x_value }}, y = {{ y_value }},</h2>
<h3>Decide whether the following statement is true or false: </h3>
<h2>{{ statement }}</h2>
<br>
<div style="text-align: center">
	<div style="display: inline-block">
		<button type="button" id="True" class="btn btn-success btn-lg" onclick="getAnswer('True')" autocomplete="off">TRUE</button>
		<button type="button" id="False" class="btn btn-danger btn-lg" onclick="getAnswer('False')" autocomplete="off">FALSE</button>
	</div>
</div>
<h2 id="answer"></h2>
<br>
<div style="text-align: center">
	<div style="display: inline-block">
		<button type="button" id="Retry" style="visibility: hidden;" class="btn btn-info btn-lg" autocomplete="off" onclick="reloadPage()">Retry?</button>
	</div>
</div>
{% endblock %}
