{% extends "layout.html" %}
{% block navbar %}
<nav class="navbar navbar-dark bg-inverse">
	<a class="navbar-brand" href="{{ url_for('home') }}">Logic Master</a>
	<ul class="nav navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only"> (current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('tester') }}">Tester</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('about') }}">About</a>
		</li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<article class="card animated zoomIn">
	<div class="card-block">
		<h3>When</h3>
		<h2>x = {{ x_value }}, y = {{ y_value }},</h2>
		<h3>Decide whether the following statement is true or false: </h3>
		<h2>{{ statement }}</h2>
		<br>
		<div style="text-align: center">
			<div style="display: inline-block">
				<button type="button" id="True" class="btn btn-primary btn-lg" onclick="getAnswer('True')" autocomplete="off">TRUE</button>
				<button type="button" id="False" class="btn btn-primary btn-lg" onclick="getAnswer('False')" autocomplete="off">FALSE</button>
			</div>
		</div>
		<h2 id="answer"></h2>
		<br>
		<div style="text-align: center">
			<div style="display: inline-block">
				<button type="button" id="Retry" style="visibility: hidden;" class="btn btn-info btn-lg" autocomplete="off" onclick="reloadPage()">Retry?</button>
			</div>
		</div>
	</div>
</article>
{% endblock %}
