{% extends "layout.html" %}
{% set active_page = 'Login' %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h2>LOGIN</h2><br>
		<form autocomplete="on" action="" method="post">
			{{ login_form.hidden_tag() }}
			<h4>
				Username:<br>
				{{ login_form.username(class_="form-control", size=80) }}<br>
				Password:<br>
				{{ login_form.password(class_="form-control", size=80) }}<br>
				Remember me: {{ login_form.remember_me() }}
			</h4>
			<div style="text-align: center">
				<div style="display: inline-block">
					{{ login_form.login(class_="btn btn-primary btn-lg") }}
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>SIGNUP</h2><br>
		<form autocomplete="on" action="" method="post">
			{{ signup_form.hidden_tag() }}
			<h4>
				Email:<br>
				{{ signup_form.email(class_="form-control") }}<br>
				Username:<br>
				{{ signup_form.username(class_="form-control") }}<br>
				Password:<br>
				{{ signup_form.password(class_="form-control") }}<br>
				Type password again:<br>
				{{ signup_form.verify(class_="form-control") }}<br>
			</h4>
			<div style="text-align: center">
				<div style="display: inline-block">
					{{ signup_form.register(class_="btn btn-primary btn-lg") }}
				</div>
			</div>
		</form>
	</div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<hr>
		{% for category, message in messages %}
			{% if category == "error" %}
				<div class="alert alert-danger" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% elif category == "success" %}
				<div class="alert alert-success" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% endblock %}