{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('home') }}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('tester') }}">Tester</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('about') }}">About</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="{{ url_for('login') }}">Login<span class="sr-only"> (current)</span></a>
</li>
{% endblock %}

{% block content %}
<form autocomplete="on" action="" method="post">
	{{ login_form.hidden_tag() }}
	<h4>
		Username:<br>
		{{ login_form.username(class_="form-control", size=80) }}<br>
		Password:<br>
		{{ login_form.password(class_="form-control", size=80) }}
		Remember me on computer: {{ login_form.remember_me() }}
	</h4>
	<div style="text-align: center">
		<div style="display: inline-block">
			<input class="btn btn-primary btn-lg" type="submit" value="Log in">
		</div>
	</div>
</form>

{% endblock %}