{% extends "layout.html" %}
{% set active_page = 'Profile' %}

{% block content %}
<h1 class="text-info text-xs-center">Name:</h1>
<h1 class="display-1 text-primary text-xs-center">{{ username }}</h1>
<br>
<h1 class="text-info text-xs-center">Score:</h1>
<h1 class="display-2 text-success text-xs-center" id="user_score"></h1>
<script type="text/javascript">
    var options = {
        useEasing : true,
        useGrouping : false,
        separator : ',',
        decimal : '.',
        prefix : '',
        suffix : ''
    };
    var numAnimation = new CountUp("user_score", 0, {{ score }}, 1, 3.5, options);
    numAnimation.start();
</script>
{% endblock %}