{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('home') }}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('tester') }}">Tester<span class="sr-only"> (current)</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('about') }}">About</a>
</li>
{% if not current_user.is_authenticated %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('login') }}">Login</a>
	</li>
{% else %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	</li>
    <li class="nav-item float-xs-right active">
        <a class="nav-link" href="{{ url_for('profile', name=current_user.username) }}">Profile<span class="sr-only"> (current)</span></a>
    </li>
	<span class="navbar-text float-xs-right text-info">
		Hi, {{ current_user.username }}!
	</span>
{% endif %}
{% endblock %}

{% block content %}
<h1 class="text-info text-xs-center">Name:</h1>
<h1 class="display-1 text-primary text-xs-center">{{ username }}</h1>
<br>
<h1 class="text-info text-xs-center">Score:</h1>
<h1 class="display-2 text-success text-xs-center" id="user_score"></h1>
<script type="text/javascript">
    var options = {
        useEasing : true,
        useGrouping : false,
        separator : ',',
        decimal : '.',
        prefix : '',
        suffix : ''
    };
    var numAnimation = new CountUp("user_score", 0, {{ score }}, 0, 3.5, options);
    numAnimation.start();
</script>
{% endblock %}