{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('home') }}">Home</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="{{ url_for('tester') }}">Tester<span class="sr-only"> (current)</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('about') }}">About</a>
</li>
{% if not current_user.is_authenticated %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('login') }}">Login</a>
	</li>
{% else %}
	<li class="nav-item float-xs-right">
		<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	</li>
	<li class="nav-item float-xs-right">
        <a class="nav-link" href="{{ url_for('profile', name=current_user.username) }}">Profile</a>
    </li>
	<span class="navbar-text float-xs-right text-info">
		Hi, {{ current_user.username }}!
	</span>
{% endif %}
{% endblock %}

{% block content %}
<form autocomplete="off" action="" method="post">
	{{ form.hidden_tag() }}
	<h2>
		Please enter statement:<br>
		{{ form.statement(class_="form-control", size=80) }}<br>
	</h2>
	<div style="text-align: center">
		<div style="display: inline-block">
			<input class="btn btn-primary btn-lg" type="submit" value="Submit">
		</div>
	</div>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<hr>
		{% for category, message in messages %}
			{% if category == "error" %}
				<h2 style="color: #d9534f">{{ message }}</h2>
			{% elif category == "success" %}
				<h2 style="color: #5cb85c">{{ message }}</h2>
			{% else %}
				<h2>{{ message }}</h2>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% endblock %}
