{% extends "layout.html" %}
{% set active_page = 'Tester' %}

{% block content %}
<form autocomplete="off" action="" method="post">
	{{ form.hidden_tag() }}
	<h2>
		Please enter statement:<br>
		{{ form.statement(class_="form-control", size=80) }}<br>
	</h2>
	<div style="text-align: center">
		<div style="display: inline-block">
			<input class="btn btn-primary btn-lg" type="submit" value="Submit">
		</div>
	</div>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<hr>
		{% for category, message in messages %}
			{% if category == "error" %}
				<div class="alert alert-danger" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% elif category == "success" %}
				<div class="alert alert-success" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
					<h4 class="text-xs-center">{{ message }}</h4>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}
{% block body %}{% endblock %}
{% endblock %}
